.container{
	
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:50vw;
	height:50vh;
	background-color:lightgrey;
	overflow:hidden;
	overflow-y:scroll;
}

.del{
	float:right;
}
li{
	list-style:none;
}
	
.addLabel{
	text-decoration:line-through;
	color:#fff;
	}