.content-wrapper{
	
	position:absolute;
	right:5%;
	left:5%;
	top:20%;
	bottom:5%;
	margin:auto;	
	
}

  .carousel-inner > .item > img
  .carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
  }





.container{
	background:orange; 
	
	width:60%;
	 /* margin: auto; */
	margin-top:2%;
	 border: 3px solid black;
}





